# Gradle files
.gradle/
build/
**/build/

# Local configuration
local.properties

# IDE files
.idea/
*.iml

# MacOS
.DS_Store

# Kotlin/Java class files
*.class

# Log files
*.log

# Others
.env
*.keystore
